@model IEnumerable<IDictionary<string, object>>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h3>Codesanook Meetup</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Man</td>
                    <td>Real</td>
                    <td>2018-07-09</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>