@model IEnumerable<IDictionary<string, object>>
@{
    ViewBag.Title = "Codesanook Meetup";
}
<div class="jumbotron">
    <h3>Codesanook Meetup</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <th scope="row">@row["Id"]</th>
                        <td>@row["FirstName"]</td>
                        <td>@row["LastName"]</td>
                        <td>@row["DateOfBirth"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>